---
const personalImageAlt = "Camilo Pacheco";
---

<article
  class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row"
>
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-green-500 dark:[&>p>strong]:text-geen-100 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1"
  >
    <p>
      Me llamo Camilo, Full Stack Developer con experiencia en la creación de
      aplicaciones web. En proyectos suelo utilizar <strong>Typescript, Javascript,
        Node.js, Nest.js, Express.js, Next.js, React, Redux, PostgreSQL y MongoDB,</strong> 
      ademas me fascina crear proyectos con <strong
        >GO.</strong> Actualmente me encuentro
        desarrollando un ecommerce y microservicios con el mismo..
    </p>

    <p>
      Me considero una persona proactiva, estoy en constacte aprendizaje y desarrollo de 
      mis habilidades, team player, me encanta el Jiu Jitsu, <strong
        > cuento con facil adaptabilidad y poder de aprendizage adquirido atravez de experiencia</strong
      >. 
    </p>
  </div>

  <img
    width="200"
    height="200"
    src=""
    alt={personalImageAlt}
    class="order-1 object-cover w-64 h-full p-1 md:order-2 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-2xl bg-black/20 dark:bg-yellow-500/5 ring-1 ring-black/70 dark:ring-white/20"
    style="object-position: 50% 50%"
  />
</article>
