---
import ExperienceItem from "./ExperienceItem.astro"
const EXPERIENCIE = [
  {
    date: "Actualmente...",
    title: "Soporte Tecnico IT",
    company: "Personal",
    description:
      "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.",
    link: "#",
  },
  {
    date: "Agosto 2023",
    title: "Back End Developer",
    company: "Doctor Qali (Peru)",
    description:
      "Implementación y mantenimiento de APIs, Solución de problemas, depuración y resolución de defectos y problemas de software, Documentación de código e información relacionada con el proyecto, Implementación de nuevas funcionalidades, Optimización de la aplicación para máxima velocidad y escalabilidad..",
  },
]
---

<ol class="relative mt-16">
  {
    EXPERIENCIE.map((experiencie) => (
      <li class="">
        <ExperienceItem {...experiencie} />
      </li>
    ))
  }
</ol>